<script type="text/ng-template" id="sncRateSelectCustomTemplate.html">
    <a>
        <i class="fa {{match.model.flag}}"></i>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    </a>
</script>


<div class="row">
    <div class="col col-lg-12">
        <pre>创建子网连接</pre>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6">


        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">
                    基本信息
                </h3>
            </div>
            <div class="panel-body">
                <div class="input-group form-inputgroup">
                    <span class="input-group-addon">速率</span>
                    <input type="text" placeholder="速率" ng-model="vm.SNCRateSelected" uib-typeahead="sncRate as sncRate.name for sncRate in vm.SNCRateWithFlags | filter:{name:$viewValue}"
                    class="form-control" typeahead-show-hint="true" typeahead-min-length="0" typeahead-template-url="sncRateSelectCustomTemplate.html">
                    <span class="input-group-addon checkbox-wrap"><i class="fa fa-fw {{vm.checkBoxClass(vm.validateSNCRateSelected)}}"></i></span>
                </div>
                <!--<div class="input-group form-inputgroup">
                    <span class="input-group-addon">名称</span>
                    <input type="text" placeholder="子网连接名称"
                    class="form-control">
                    <span class="input-group-addon checkbox-wrap"><i class="fa fa-fw {{vm.checkBoxClass(vm.validateSNCRateSelected)}}"></i></span>
                </div>-->
            </div>
        </div>

        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">
                    A端点
                </h3>
            </div>
            <div class="panel-body">
                <div class="input-group  form-inputgroup">
                    <span class="input-group-addon">网元</span>
                    <input type="text" placeholder="网元名称" ng-model="vm.AEndNESelected" uib-typeahead="aEndNE as aEndNE.name for aEndNE in vm.neList | filter:{name:$viewValue}"
                    class="form-control" typeahead-show-hint="true" typeahead-min-length="0" ng-disabled="!vm.isSNCRateSelected">
                    <span class="input-group-addon checkbox-wrap"><i class="fa fa-fw {{vm.checkBoxClass(vm.validateAEndNESelected)}}"></i></span>
                </div>
                <div class="input-group form-inputgroup">
                    <span class="input-group-addon">端口</span>
                    <input type="text" placeholder="端口名称" ng-model="vm.AEndPortSelected" uib-typeahead="aEndPort for aEndPort in vm.getAEndPortNameList()" 
                    class="form-control" typeahead-show-hint="true" typeahead-min-length="0" ng-disabled="!vm.isAEndNESelected">
                    <span class="input-group-addon checkbox-wrap"><i class="fa fa-fw {{vm.checkBoxClass(vm.validateAEndPortSelected)}}"></i></span>
                </div>
                <!--<div class="input-group form-inputgroup">
                    <span class="input-group-addon">时隙</span>
                    <input type="text" class="form-control" placeholder="时隙">
                    <span class="input-group-addon checkbox-wrap"><i class="fa fa-fw {{vm.checkBoxClass(vm.validateSNCRateSelected)}}"></i></span>
                </div>-->
            </div>
        </div>

        <!--<div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Z端点
                </h3>
            </div>
            <div class="panel-body">
                <div class="input-group form-inputgroup">
                    <span class="input-group-addon">网元</span>
                    <input type="text" class="form-control" placeholder="网元名称">
                    <span class="input-group-addon checkbox-wrap"><i class="fa fa-fw {{vm.checkBoxClass(vm.validateSNCRateSelected)}}"></i></span>
                </div>
                <div class="input-group form-inputgroup">
                    <span class="input-group-addon">端口</span>
                    <input type="text" class="form-control" placeholder="端口名称">
                    <span class="input-group-addon checkbox-wrap"><i class="fa fa-fw {{vm.checkBoxClass(vm.validateSNCRateSelected)}}"></i></span>
                </div>
                <div class="input-group form-inputgroup">
                    <span class="input-group-addon">时隙</span>
                    <input type="text" class="form-control" placeholder="时隙">
                    <span class="input-group-addon checkbox-wrap"><i class="fa fa-fw {{vm.checkBoxClass(vm.validateSNCRateSelected)}}"></i></span>
                </div>
            </div>
        </div>-->


    </div>
</div>