<div class="row">
    <div class="col col-lg-12">
        <pre>创建SNC</pre>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default 
                     dropdown-toggle" data-toggle="dropdown">
                VC4
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
                <li><a href="#">VC4</a></li>
                <li><a href="#">VC3</a></li>
                <li><a href="#">VC12</a></li>
            </ul>
        </div>
        <br>
        <br>
        <div class="input-group">
            <span class="input-group-addon">A End 网元名</span>
            <input type="text" class="form-control" placeholder="A End 网元名">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">A End 端口名</span>
            <input type="text" class="form-control" placeholder="A End 端口名">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">A End 时隙</span>
            <input type="text" class="form-control" placeholder="A End 时隙">
        </div>
        <br>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Z End 网元名</span>
            <input type="text" class="form-control" placeholder="Z End 网元名">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Z End 端口名</span>
            <input type="text" class="form-control" placeholder="Z End 端口名">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Z End 时隙</span>
            <input type="text" class="form-control" placeholder="Z End 时隙">
        </div>
    </div>
</div>