<div>
<div perfect-scrollbar role="navigation" class="col col-xs-2 col-sm-2 col-md-2 col-lg-2" style="height:580px;overflow:hidden;padding-left:2px;padding-right:2px;border-right: 1px solid #e7e7e7"
refresh-on-change-with-boolean="leftTreeChanged.changed" suppress-scroll-x="true">
    <ul class="nav" style="padding-bottom:20px">
        <!--<li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
        </li>-->

        <treeitem tree-item-data="neTreeData" left-tree-changed="leftTreeChanged" tree-item-clicked="treeItemClicked"></treeitem>
        <treeitem tree-item-data="mapTreeData" left-tree-changed="leftTreeChanged" tree-item-clicked="treeItemClicked"></treeitem>
        <treeitem tree-item-data="tlTreeData" left-tree-changed="leftTreeChanged" tree-item-clicked="treeItemClicked"></treeitem>
        <treeitem tree-item-data="trailTreeData" left-tree-changed="leftTreeChanged" tree-item-clicked="treeItemClicked"></treeitem>
        <treeitem tree-item-data="pathTreeData" left-tree-changed="leftTreeChanged" tree-item-clicked="treeItemClicked"></treeitem>
        <treeitem tree-item-data="evcTreeData" left-tree-changed="leftTreeChanged" tree-item-clicked="treeItemClicked"></treeitem>
    </ul>
</div>
</div>