<div ui-view class="animated fadeIn fadeOut">
        <div class="row">
            <div class="col col-lg-12">
                <ol class="breadcrumb" style="margin-bottom:6px;padding-left:{{vm.getH(12)}}px">
                    <li class="active">网元列表</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-12">
                    <nms-data-panel 
                    ndp-partial-border="false" 
                    ndp-ctrl-scope="vm.ctrlScope" 
                    ndp-data-array="vm.dataArray"
                    ndp-data-update-outside="true"
                    ndp-data-change-trigger="vm.dataChangeTrigger"
                    ndp-column-defs="vm.columnDefs"  
                    ndp-obj-creation-nt-type="'neCreation'" 
                    ndp-obj-deletion-nt-type="'neDeletion'" 
                    ndp-obj-update-nt-type="'neChange'"
                    ndp-notif-filter-fun="null" 
                    ndp-field-value-getter-fun="null"
                    ndp-ctrl-name="'MiddleNEController'" 
                    ndp-grid-height="475" 
                    ndp-enable-notif="true"></nms-data-panel>
            </div>
        </div>

    </div>