<div>
<table ng-table-dynamic="myNgTableParams with myNgTableCols" class="{{myNgTableClass}}"
show-filter="myNgTableShowFilters" style="table-layout:fixed">
    <colgroup>
        <col ng-repeat="w in myNgTableColsWidth track by $index" width="{{w}}"/>
    </colgroup>
    <tr ng-repeat="item in $data" ng-style="myNgTableTrStyleFun(item)">
        <td ng-repeat="col in $columns" bind-compiled-html="col.getValue(this, item)" ng-style="myNgTableTdStyleFun(item, col)">
        </td>
    </tr>
</table>
</div>