<nms-data-panel 
                ndp-partial-border="true" 
                ndp-ctrl-scope="vm.ctrlScope" 
                ndp-data-array="vm.dataArray"
                ndp-data-key="'equKey'" 
                ndp-column-defs="vm.columnDefs" 
                ndp-obj-creation-nt-type="'equCreation'" 
                ndp-obj-deletion-nt-type="'equDeletion'" 
                ndp-obj-update-nt-type="'equUpdate'" 
                ndp-notif-filter-fun="null" 
                ndp-field-value-getter-fun="null"
                ndp-ctrl-name="'NEBoardController'" 
                ndp-grid-height="435" 
                ndp-enable-notif="true"></nms-data-panel>