<nms-data-panel 
                ndp-partial-border="true" 
                ndp-ctrl-scope="vm.ctrlScope" 
                ndp-data-array="vm.dataArray"
                ndp-data-key="'tpKey'" 
                ndp-column-defs="vm.columnDefs" 
                ndp-obj-creation-nt-type="'portCreation'" 
                ndp-obj-deletion-nt-type="'portDeletion'" 
                ndp-obj-update-nt-type="'portUpdate'" 
                ndp-notif-filter-fun="null" 
                ndp-field-value-getter-fun="null"
                ndp-ctrl-name="'NEPortController'" 
                ndp-grid-height="450" 
                ndp-enable-notif="true"></nms-data-panel>