<div ng-style="ndpBorderStyle" ng-show="ndpToShow" >
    <div class="row">
        <div class="col col-lg-12" style="margin-bottom:4px">
            <div class="btn-group" uib-dropdown>
                <button id="action-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                    <i class="fa fa-bars fa-fw"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-close fa-fw"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-check fa-fw"></i>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="action-button">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group" style="float: right">
                <label class="btn btn-default btn-sm" ng-model="ndpEnableNotif" uib-btn-checkbox><i class="fa fa-bell fa-fw"></i></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <div class="ag-nms"  style="width:100%" ag-grid="ndpGridOptions" ></div>
        </div>
    </div>
</div>
