<div ng-style="ndpBorderStyle" ng-show="ndpToShow">

    <!-- /.modal begin -->
    <!--<div class="modal fade" id="itemPropertiesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" style="width: 400px">
            <div class="modal-content panel panel-info">
                <div class="modal-header panel-heading" style="padding-top:10px;padding-bottom:10px">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h5 class="modal-title" id="myModalLabel"/><b><i class="fa fa-info-circle fa-fw"></i> {{getSelectedItems()[0].name}}</b></h5>
                </div>
                <div class="modal-body" style="height: 520px; overflow-y:auto">
                    <nms-properties-panel
                        npp-title="ndpGetSelectedItems()[0].name" 
                        npp-item="ndpGetSelectedItems()[0]"
                    ></nms-properties-panel>
                </div>
            </div>
        </div>
    </div>-->
    <!-- /.modal -->
    



    <div class="row">
        <div class="col col-lg-12" style="margin-bottom:4px">
            <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-default btn-sm" ng-click="npdOpenPropertiesDlg()"  ng-disabled="ndpSelectedItemsLength!=1">
                    <i class="fa fa-info-circle fa-fw"></i>
                </button>
                <button id="action-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
                    <i class="fa fa-bars fa-fw"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                    <i class="fa fa-close fa-fw"></i>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="action-button">
                    <li role="menuitem"><a href="#">Action</a></li>
                    <li role="menuitem"><a href="#">Another action</a></li>
                    <li role="menuitem"><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group" style="float: right">
                <label class="btn btn-default btn-sm" ng-model="ndpEnableNotif" uib-btn-checkbox><i class="fa fa-bell fa-fw"></i></label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <div class="ag-nms" style="width:100%" ag-grid="ndpGridOptions"></div>
        </div>
    </div>
</div>