<div class="panel panel-info" style="margin:0px">
    <div class="modal-header panel-heading" style="padding-top:10px;padding-bottom:10px">
        <label type="button" class="close" aria-hidden="true" ng-click="vm.ok()">
            &times;
        </label>
        <h5 class="modal-title" /><b><i class="fa fa-info-circle fa-fw"></i> {{vm.nppTitle}}</b></h5>
    </div>
    <div class="modal-body" style="overflow:auto;height: 500px;padding-right:20px;padding-left:20px;margin:0px;padding-top:20px;padding-bottom:20px;text-align:center;">
        <nms-properties-panel npp-title="vm.nppTitle" npp-item="vm.nppItem"></nms-properties-panel>
    </div>
</div>