<!--<div class="row">
    <div class="col col-lg-12">
        <pre><a href="#" ng-click="vm.backToNeList()">ne</a>:{{vm.message}}</pre>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12">
        <label>{{vm.message}}</label>
    </div>
</div>-->
<div>
    <div class="row">
        <div class="col col-lg-12">
            <ol class="breadcrumb" style="margin-bottom:6px;padding-left:{{vm.getH(12)}}px">
                <li><a href="#" ng-click="vm.backToNeList()">网元列表</a></li>
                <li class="active">{{vm.message}}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <uib-tabset>
                <uib-tab heading="端口" select="vm.tabClicked('ports')"></uib-tab>
                <uib-tab heading="板卡" select="vm.tabClicked('boards')"></uib-tab>
                <uib-tab heading="告警" select="vm.tabClicked('alarms')"></uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <div ui-view class="animated fadeIn fadeOut"></div>
        </div>
    </div>
</div>