<div>
<div perfect-scrollbar role="navigation" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:580px;overflow:hidden;padding:10px 2px 15px 2px"
refresh-on-change-with-boolean="leftTreeChanged.changed" suppress-scroll-x="true">
    <ul>
        <li><span>{{vm.message}}</span></li>
        <li><span>{{vm.message}}</span></li>
        <li><span>{{vm.message}}</span></li>
        <li><span>{{vm.message}}</span></li>
        <li><span>{{vm.message}}</span></li>
        <li><span>{{vm.message}}</span></li>
        <li><span>{{vm.message}}</span></li>
        <li><span>{{vm.message}}</span></li>
    </ul>
</div>
</div>