<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>NMS demo</title>

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    <link rel="stylesheet" href="bower_components/ag-grid/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="bower_components/ag-grid/dist/styles/theme-fresh.css">
    <link rel="stylesheet" href="bower_components/ag-grid/dist/styles/theme-dark.css">
    <link rel="stylesheet" href="bower_components/ag-grid/dist/styles/theme-blue.css">
    <link rel="stylesheet" href="css/theme-nms.css">
    <link rel="stylesheet" href="css/main-tree.css">
    <link rel='stylesheet' href='css/my-loading-bar.css' type='text/css' media='all'/>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="scripts/my-ag-grid.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="scripts/hashmap.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/services/logger.service.js"></script>
    <script src="app/services/common-util.service.js"></script>
    <script src="app/services/server-notification.service.js"></script>
    <script src="app/services/statastic.service.js "></script>
    <script src="app/services/data.service.js "></script>
    <script src="app/services/login.service.js "></script>
    <script src="app/services/nms-properties-dlg/nms-properties-dlg.service.js "></script>
    <script src="app/app.config.js "></script>
    <script src="app/app.run.js "></script>
    <script src="app/app.routes.js "></script>
    <script src="app/login/login.controller.js "></script>
    <script src="app/main/main.controller.js "></script>
    <script src="app/loading-failed/loadingfailed.controller.js "></script>
    <script src="app/main-area/list/dashboard/dashboard.controller.js "></script>
    <script src="app/main-area/list/evc/list-evc.controller.js "></script>
    <script src="app/main-area/list/map/list-map.controller.js "></script>
    <script src="app/main-area/list/ne/list-ne.controller.js "></script>
    <script src="app/main-area/list/alarm/list-alarm.controller.js "></script>
    <script src="app/main-area/list/path/list-path.controller.js "></script>
    <script src="app/main-area/list/physicallink/list-physicallink.controller.js "></script>
    <script src="app/main-area/list/trail/list-trail.controller.js "></script>
    <script src="app/main-area/single/ne/single-ne.controller.js "></script>
    <script src="app/main-area/single/port/single-port.controller.js "></script>
    <script src="app/main-area/single/trail/single-trail.controller.js "></script>
    <script src="app/main-area/single/ne-port/ne-port.controller.js "></script>
    <script src="app/main-area/single/ne-board/ne-board.controller.js "></script>
    <script src="app/main-area/provisioning/snc/snc-creation.controller.js "></script>

    <script src="app/directives/tree-item.directive.js "></script>
    <script src="app/directives/main-tree.directive.js "></script>
    <script src="app/directives/nms-properties-panel.directive.js "></script>
    <script src="app/directives/nms-data-panel.directive.js "></script>


    <script src="bower_components/d3/d3.js "></script>
    <script src="bower_components/nvd3/build/nv.d3.js "></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js "></script>
    <script src='scripts/my-loading-bar.js'></script>

    <link rel="stylesheet" href="css/main.css">
</head>

<body style="overflow-y:scroll" ng-app="nmsdemoApp">

<div ui-view>
    <div class="container" ng-controller="LoginController as vm ">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input class="form-control " placeholder="用户名" type="text " required autofocus ng-model="vm.username ">
            <input class="form-control " placeholder="密码" type="password" value="" ng-model="vm.password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block " ng-click="vm.login() " ng-disabled="vm.loginInprogress
    || (!vm.username || !vm.password) ">登录
            </button>
            <div class="progress progress-striped loginprogressbar " ng-class="{ 'active': vm.loginInprogress}
    " ng-if="vm.loginProgress!=100 ">
                <div class="progress-bar progress-bar-info " ng-class="{ 'progress-bar-success': vm.loginInprogress||vm.loginOK,
    'progress-bar-danger': !vm.loginInprogress && !vm.loginOK} "
                     role="progressbar " aria-valuenow="{{vm.loginProgress}} " aria-valuemin="0
    " aria-valuemax="100 "
                     style="min-width: 70%; width: {{vm.loginProgress}}%; ">
                    <span>{{vm.loginStepInfo}}</span>
                </div>

            </div>
        </form>


    </div>
</div>
</body>

</html>