<!DOCTYPE html>
<html lang="zh-CN" ng-app="nmsdemoApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>NMS demo</title>

    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css">
    <!--<link rel="stylesheet" href="css/sb-admin-2.css">-->
    <link rel="stylesheet" href="css/perfect-scrollbar.css">
    <link rel="stylesheet" href="css/main-tree.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" "></script>
    <script src="bower_components/angular/angular.min.js "></script>
    <script src="bower_components/angular-animate/angular-animate.min.js "></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js "></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js "></script>
    <script src="bower_components/ng-table/dist/ng-table.min.js "></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js "></script>
    <script src="js/perfect-scrollbar.w.js "></script>
    <script src="js/hashmap.js "></script>
    <script src="js/app.js "></script>
    <script src="js/logger.service.js "></script>
    <script src="js/commonUtil.service.js "></script>
    <script src="js/serverNotification.service.js "></script>
    <script src="js/statastic.service.js "></script>
    <script src="js/data.service.js "></script>
    <script src="js/login.service.js "></script>
    <script src="js/app.config.js "></script>
    <script src="js/controllers.js "></script>
    <script src="js/directives.js "></script>
    <script src="js/angular_perfect_scrollbar.js "></script>
    <script src="bower_components/d3/d3.js "></script>
    <script src="bower_components/nvd3/build/nv.d3.js "></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js "></script>



</head>

<body style="overflow-y:scroll">
<div ui-view>
    <div class="container" ng-controller="LoginController as vm ">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input class="form-control " placeholder="用户名" type="text " required autofocus ng-model="vm.username ">
        <input class="form-control " placeholder="密码" type="password" value="" ng-model="vm.password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block " ng-click="vm.login() " ng-disabled="vm.loginInprogress
    || (!vm.username || !vm.password) ">登录</button>
    <div class="progress progress-striped loginprogressbar " ng-class="{ 'active': vm.loginInprogress}
    " ng-if="vm.loginProgress!=100 ">
                            <div class="progress-bar progress-bar-info " ng-class="{ 'progress-bar-success': vm.loginInprogress||vm.loginOK,
    'progress-bar-danger': !vm.loginInprogress && !vm.loginOK} "
                            role="progressbar " aria-valuenow="{{vm.loginProgress}} " aria-valuemin="0
    " aria-valuemax="100 "
                            style="min-width: 70%; width: {{vm.loginProgress}}%; ">
                                <span>{{vm.loginStepInfo}}</span>
                            </div>

                        </div>
      </form>
      

    </div> 
    </div>
  </body>

</html>